RAILS_ENV=production
RAILS_MAX_THREADS=5

DATABASE_URL=postgresql://neondb_owner:npg_LMv3XgBDrj1q@ep-snowy-cloud-aoamqshm-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DIRECT_DATABASE_URL=postgresql://neondb_owner:npg_LMv3XgBDrj1q@ep-snowy-cloud-aoamqshm.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY_BASE=

FRONTEND_URL=https://your-frontend.vercel.app
BACKEND_URL=https://your-backend.onrender.com
CORS_ORIGINS=https://your-frontend.vercel.app

GITHUB_CLIENT_ID=Ov23liyvisIpBYQY3We0
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=https://your-backend.onrender.com/auth/github/callback
