DB_HOST=db
DB_PORT=5432
DB_NAME=github_streak_app_development
DB_USERNAME=postgres
DB_PASSWORD=postgres

RAILS_ENV=development
RAILS_MAX_THREADS=5

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
CORS_ORIGINS=http://localhost:5173

GITHUB_CLIENT_ID=Ov23liyvisIpBYQY3We0
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:3000/auth/github/callback
